# Node.js
node_modules/
.next/
.env
.env.*
dist/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output
*.log
*.out
*.tmp

# Misc
*.swp
*.swo
.idea/

# VSCode
.vscode/
